<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новое достижение</title>
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
  <div class="container">
      <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                  <a href="/" class="d-flex align-items-center">
                    <img src="assets/main.svg" alt="icon" height="30" width="30" class="me-2">
                    <strong>На главную</strong>
                  </a>
                  <h2 class="card-title text-center">Новое достижение</h2>
                <div class="card-body py-md-4">
            <form action="/achievement/create" method="post" enctype="multipart/form-data">
              <input type="text" class="form-control" name="title" placeholder="Название">
              <input type="text" class="form-control" name="info" placeholder="Описание">
              <input type="file" name="file" />
              <button type="submit" class="btn btn-primary">Создать</button>
            </form>
    </div>
    <div class="alert alert-danger" role="alert">
        {{.}}
    </div>
</body>
</html>