<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обратная связь</title>
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
  <div class="container">
      <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                  <a href="/" class="d-flex align-items-center">
                    <img src="assets/main.svg" alt="icon" height="30" width="30" class="me-2">
                    <strong>На главную</strong>
                  </a>
                  <h2 class="card-title text-center">Напишитие отзыв</h2>
                <div class="card-body py-md-4">
            <form action="/feedback_form" method="post">
              <input type="text" class="form-control" name="name" placeholder="Ваше имя" required>
              <input type="text" class="form-control" name="feedback" placeholder="Ваш отзыв" required>
              <button type="submit" class="btn btn-primary">Опубликовать</button>
            </form>
    </div>
</body>
</html>