<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achievment-holder</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
    <header data-bs-theme="dark">
        <div class="navbar navbar-dark bg-dark shadow-sm">
          <div class="container">
            <div class="row">
              <a class="navbar-brand d-flex align-items-center">
                <img src="assets/paper.svg" alt="icon" height="30" width="30" class="me-2">
                <strong>Achievments</strong>
              </a>
            </div>
              <div class="row">
                <div class="col">
                  <input class="bg-white text-dark rounded-1" id="signInInput1-1" style="border-radius: 3px;" type="email" placeholder="Email address">
                </div>
                <div class="col">
                  <input class="bg-white text-dark rounded-1" id="signInInput1-1" style="border-radius: 3px;" type="password" placeholder="Password">
                </div>
                <div class="col">
                  <a href="#" class="navbar-brand  ">
                    <strong style="color: white;">Log in</strong>
                    <img src="assets/login.svg" alt="icon" height="30" width="30" class="me-2">
                  </a>
                </div>
              </div>
            </div>
        </div>
      </header>
      <main>
        <section class="py-5 text-center container">
          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-light">{{.title}}</h1>
              <p class="lead text-body-secondary">{{.description}}</p>
              <p>
                <a href="#" class="btn btn-outline-primary">Github</a>
                <a href="#" class="btn btn-outline-primary">University</a>
                <a href="#" class="btn btn-outline-primary">Courses</a>
              </p>
            </div>
          </div>
        </section>
        <div class="album py-5 bg-body-tertiary">
          <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-sm-3 g-3">
                <div class="col">
                <div class="card">
                    <img src="assets/bg.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-outline-info">Подробнее</a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      
      </main>
      
      <footer class="text-body-secondary py-5">
        <div class="container">
          <p class="float-end mb-1">
            <a href="#">Back to top</a>
          </p>
          <p class="mb-1">Contacts</p>
          <p class="mb-0"><a href="https://t.me/AntonGoff">Telegram</a> & <a href="https://github.com/XATAB1CH">Github</a></p>
        </div>
      </footer>
      
</body>
</html>