<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achievement-user</title>
    <link rel="stylesheet" href="styles/bootstrap.css">
</head>
<body>
    <header data-bs-theme="dark">
        <div class="navbar navbar-dark bg-dark shadow-sm" style="height: auto;">
              <div class="m-5">
                <a class="navbar-brand d-flex align-items-center">
                  <img src="assets/paper.svg" alt="icon" height="30" width="30" class="me-2">
                  <strong>Достижения</strong>
                </a>
              </div>
              <div class="m-5">
                <a href="http://127.0.0.1:8080/auth/logining" class="btn btn-success">Войти</a>
              </div>
        </div>
      </header>
      <main>
        <section class="py-5 text-center container ">
          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-light">Достижения {{.Name}}</h1>
              <p class="lead text-body-secondary">Посмотрите чужие достижения </p>
              <form action="/search" method="post">
                <div class="d-flex flex-row align-items-center justify-content-between">
                  <input type="text" class="form-control" id="name" name="name" placeholder="Имя пользователя" style="width: 350;">
                  <a class="navbar-brand d-flex align-items-center">
                    <img src="assets/loupe.svg" alt="icon" height="30" width="30" class="me-2">
                    <input class="btn btn-primary" type="submit" value="Найти" style="width: 200 ;">
                  </a>
                </div>
              </form>
            </div>
          </div>
          <div class="alert alert-danger " role="alert">
            "Пользователь не найден!"
         </div>
        </section>
        <div class="album py-5 bg-body-tertiary">
        </div>
      </main>
      
      <footer class="text-body-secondary py-5">
        <div class="container">
          <p class="float-end mb-1">
            <a href="#">Наверх</a>
          </p>
          <p class="mb-1">Контакты</p>
          <p class="mb-0"><a href="https://t.me/AntonGoff">Telegram</a> & <a href="https://github.com/XATAB1CH">Github</a></p>
        </div>
      </footer>
      
</body>
</html>